div.chart svg {
    height: 100%;
    width: 100%;
    min-height: 100px;
    min-width: 100px;
    display: block;
}

div.chart svg .axis {
    stroke: #000;
}

div.chart svg .plotlines {
    stroke: #CCC;
}

div.chart svg text {
    stroke: transparent;
}

div.chart svg .dataPoint > *:first-child {
    fill: blue;
}
div.chart svg .dataPoint > * + * {
    fill: red;
}
div.chart svg .dataPoint > *:nth-child( 3 ) {
    fill: green;
}

div.chart svg .dataLines > * {
    fill: transparent;
}
div.chart svg .dataLines > *:first-child {
    stroke: blue;
}
div.chart svg .dataLines > * + * {
    stroke: red;
}
div.chart svg .dataLines > *:nth-child( 3 ) {
    stroke: green;
}
